<a href="https://colab.research.google.com/github/BillTanekeu/TP-TPE-INF-3236-Groupe-8/blob/main/TP2_G%C3%A9n%C3%A9ration_et_Lecture_des_donn%C3%A9es_avec_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TP2:  Génération et Lecture des données avec Python


> **Groupe-8**


* Tanekeu Bill Jordan-------------------------------19M2459

* Ndongo Ndongo Papia Ange Borel--------19M2308

* Ghomsi Sikali Diane Laure---------------------18U2202

* Tchuimo Wamba Jordan------------------------19M2396

Il est souvent difficile d'obtenir des données de test appropriées.
Certains coûtent très cher, d'autres ne sont pas
disponibles gratuitement car ils sont protégés par le droit
d'auteur. Les données de test artificielles peuvent être
une solution dans certains cas.

c'est pour cette raison que nous traitons dans ce notebook la génération artificielle de données.

## Utilisation de Pandas et Numpy pour générer les données.

Le code Python suivant est un exemple simple dans lequel nous créons des données météorologiques artificielles pour certaines villes allemandes.

- villes: est une liste contenant les différentes villes
- n: nombre de villes
- data: dictionnaires ayant 3 clés (Température, Humidité et vent) et des vecteurs comme valeurs
- np.random.normal(mean,scale,n) produit des échantillons aléatoires à partir d'une distribution normale (gaussienne).
mean = moyenne , scale = l'ecart-type, et n le nombre d'élément
- df est la dataframe crée par Pandas

In [3]:
import pandas as pd
import numpy as np

villes = ['Berlin', 'Francfort', 'Hambourg',
          'Nuremberg', 'Munich', 'Stuttgart',
          'Hanovre', 'Sarrebruck', 'Cologne',
          'Constance', 'Fribourg', 'Karlsruhe'
        ]

n = len(villes)

data = {'Température': np.random.normal(24, 3, n),
            'Humidité': np.random.normal(78, 2.5, n),
            'Vent': np.random.normal(15, 4, n)
        }
df = pd.DataFrame(data= data, index=villes)
df

            Température   Humidité       Vent
Berlin        29.934939  75.496650  11.666113
Francfort     24.506766  77.078020  15.519067
Hambourg      26.549199  76.692442  14.336120
Nuremberg     24.283987  77.609359  12.587961
Munich        31.607918  75.498011  18.567022
Stuttgart     19.090867  86.288600  20.642066
Hanovre       27.111053  78.864894  10.669014
Sarrebruck    21.632282  73.218056  14.223112
Cologne       26.166579  79.574823  15.271711
Constance     25.663618  79.225441  15.723718
Fribourg      19.101737  78.092040  13.135337
Karlsruhe     28.221268  78.270004  10.978093